.input__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: left;
  progress {
    width: 100%;
  }
}
.input__label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
}
input,
textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px 8px;
  background: #eee;
  border: none;
  transition: background 0.3s;
  box-sizing: border-box;
  &:focus {
    background: rgb(245, 245, 245);
    outline: none;
  }
}

.input__children-wrapper {
  color: rgb(223, 57, 57);
  margin-top: 5px;
}
