.editProfile__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.editProfile__upload-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 3;

  button {
    width: 150px;
    height: 52px;
    align-self: center;
    margin-bottom: 8px;
  }
}
.editProfile__image-wrapper {
  flex: 1;
  max-width: 300px;
  min-width: 250px;
}
.editProfile__image {
  width: 100%;
  object-fit: contain;
}
