.profile-wrapper {
  display: flex;
}
.image-wrapper {
  flex: 1;
  margin-right: 35px;
  img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #eee;
    object-fit: cover;
  }
}
.text-wrapper {
  flex: 3;
}
.username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-edit {
  width: 150px;
  height: 40px;
  align-self: center;
}
